$border-color: #bbb;
$run-button-text-color: #fff;
$run-button-color: #007bff;
$run-button-color-hover: #0070e2;
$console-input-icon-color: #3677f6;

.jcr-panel {
  padding: 5px;

  .jcr-tabs {
    clear: both;

    ul {
      position: relative;
      top: 1px;
      height: 40px;
      margin: 20px 20px 0 0;
      border: none;

      li {
        display: block;
        float: left;
        padding: 0 15px;
        height: 40px;
        font-size: 1.2em;
        margin: 0 5px;
        cursor: pointer;
        line-height: 40px;
        color: #121e32;
        border: 1px solid white;
        border-bottom: none;
        margin-top: -1px;
        text-indent: 0;

        &::before {
          content: "";
        }

        &.active {
          border: 1px solid #ccc;
          border-bottom: 1px solid white;
          margin-top: 1px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
  }

  .jcr-tabs-content {
    clear: both;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 10px;
    border-top: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: auto;

    .jcr-tab-content {
      display: none;

      &.active {
        display: block;
      }

      .jcr-list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;

        .jcr-list-group-item {
          position: relative;
          display: block;
          padding: .75rem 1.25rem;
          margin-bottom: -1px;
          background-color: #fff;
          border: 1px solid rgba(0,0,0,.125);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .jcr-output {
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;

    .jcr-run-button {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-family: Arial, serif;
      font-size: 18px;
      display: block;
      text-align: center;
      cursor: pointer;
      color: $run-button-text-color;
      background-color: $run-button-color;
      padding: 8px;
      border-radius: 5px;

      &:hover {
        background-color: $run-button-color-hover;
      }
    }

    .jcr-output-buttons {
      background-color: #fff;
      padding-bottom: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;

      &.hidden {
        display: none;
      }

      .jcr-output-button {
        display: inline-block;
        padding: 3px 5px;
        background-color: #ffffff;
        color: #404040;
        font-family: monospace;
        border-radius: 5px;
        cursor: pointer;
        font-size: 11px;

        &.hidden {
          display: none;
        }

        &:hover {
          background-color: #007bff;
          color: #fff;
        }
      }
    }

    .jcr-tilda {
      &.hidden {
        display: none;
      }
    }

    .jcr-output-iframe {
      iframe {
        width: 100%;
        height: 100%;
        border: 0;
      }

      &.hidden {
        display: none;
      }
    }

    .jcr-console {
      background: #fff;
      width: 100%;
      overflow: hidden;
      border-top: 1px solid #c5c5c5;
      box-shadow: 1px -1px 2px rgba(0, 0, 0, .05);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      .jcr-toolbar {
        border-bottom: 1px solid #c5c5c5;
        background: #f0f0f0;
        width: 100%;
        height: 28px;
        font-family: monospace, monospace;

        .jcr-console-tab {
          cursor: pointer;
          width: 64px;
          padding-left: 10px;
          font-size: 14px;
          height: 22px;
          letter-spacing: -1px;
          padding-top: 5px;
          position: absolute;
          color: #5f615f;
          border-bottom: 1px solid #0366d6;
        }

        .jcr-right-side {
          right: 0;
          position: absolute;
          width: 60px;

          .jcr-tool-divider {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid #ccc;
            height: 18px;
            margin: 5px 0;
          }

          .jcr-close-btn {
            display: inline-block;
            color: #636363;
            cursor: pointer;
            font-size: 14px;
            padding: 5px 8px;
          }
        }
      }

      .jcr-subtoolbar {
        user-select: none;
        border-bottom: 1px solid #dadada;
        position: relative;

        .jcr-clear-btn {
          cursor: pointer;
          display: inline-block;
          padding: 6px 5px 0 8px;
          color: #828282;
          font-size: 14px;
        }

        .jcr-tool-divider {
          display: inline-block;
          vertical-align: top;
          border-left: 1px solid #ccc;
          height: 18px;
          margin: 5px 0;
        }

        .jcr-options {
          margin-top: 4px;
          vertical-align: top;
          position: relative;
          display: inline-block;
          padding-left: 24px;

          label {
            color: #5f615f;
            font-size: 13px;
            font-weight: 400;
            font-family: monospace;
            letter-spacing: -1px;
          }

          input {
            top: 0;
            left: 4px;
            position: absolute;
          }
        }
      }

      .jcr-console-content {
        height: 200px;
        overflow-y: auto;

        .jcr-console-editor {

          position: relative;
          padding: 0 0 0 20px;
          margin-top: 5px;
          margin-bottom: 5px;

          .jcr-console-input-icon {
            position: absolute;
            left: 4px;
            font-size: 14px;
            top: 2px;
            color: $console-input-icon-color;
          }

          input {
            border: 0;
            font-size: 14px;
            padding: 0;
            margin: 0;
            outline: 0;
            width: 100%;
            font-family: monospace, monospace;
          }
        }

        .jcr-content-row {
          min-height: 16px;
          position: relative;
          padding: 4px 10px 3px 9px;
          font-size: 12px;
          font-family: monospace, monospace;
          border-bottom: 1px solid #f0f0f0;

          &.error {
            border-top: 1px solid #fdd6d7;
            border-bottom: 1px solid #fcd5d6;
            color: #f9111f;
            background: #fff0f0;
            padding-left: 24px;
          }

          &.output {
            font-weight: 600;
            padding-left: 24px;

            .jcr-console-output-icon {
              color: #bfbfbf;
            }
          }

          &.input {
            padding-left: 24px;

            .jcr-console-output-icon {
              color: #bfbfbf;
            }
          }

          .jcr-console-output-icon {
            position: absolute;
            left: 4px;
            font-size: 14px;
            top: 4px;
          }

          pre {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}