<div class="jcr-content-row {{=it.className}}">
    <i class="fas fa-times-circle jcr-console-output-icon"></i>
    <div class="jcr-content-inner">
        <pre>{{=it.content}}</pre>
    </div>
</div>